@charset "utf-8";
/* CSS Document */

/*global*/
* {
  margin: 0;
  padding: 0;
}

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

/*main section*/
.container {
  width: 70%;
  margin: 1.25em auto;
  align-items: center;
  text-align: center;
}

/*header*/
.about-header {
  background-color: darkgoldenrod;
  height: 200px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding-top: 1.25em;
}

.menu a {
  color: black;
  margin-right: 1.25em;
}

/*about us section*/

.aboutus{
  padding: 1.25em;
  background-color: #FFE4B5;
  border-radius: 2%; 
  justify-content: space-between;
  margin-top: 1.25em;

}

.aboutus div {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
}

.aboutus p {
  padding: 2.5em; 
}

/*tablet View*/
@media ((min-width:601px) and (max-width:768px)) {
  .container {
    width: 100%;
  }

  .container img {
    width: 80%;
  }

  .about-header {
    height: 95px;
    width: 100%;
  }
}

/*phone view*/
@media ((max-width:600px)) {
  .container {
    width: 95%;
  }

    .container img {
    width: 90%;
  }

  .about-header {
    height: 70px;
    width: 100%;
  }

  .menu {
    font-size: 10px;
  }
}